.home_container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.jokeBox_container {
  width: 100%;
  margin-bottom: 50px;
  padding: 15px;
}

.email_container {
  width: 100%;
  padding: 15px;
}
