doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Fun Fun Jokes
    style.
        * {
            box-sizing: border-box;
            border-radius: 10px;
        }
        html, body {
            height: 100vh;
            background-color: #282c34;
        }
        .container {
            display: flex;
            justify-content: center;
        }
        .joke_container {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .image {
            margin-bottom: 30px;
        }
        .joke {
            background: lightgray;
            width: 100%;
            min-height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        span {
            display: inline-block;
        }
    style

  body
    .container
        .joke_container
            img.image(src="https://media.tenor.com/images/17e91cf2991314dd78eecec4668476a0/tenor.gif")
            .joke
                span #{joke}